[submodule "web_clients/phpmp"]
	path = web_clients/phpmp
	url = git@github.com:tswaehn/phpmp.git
[submodule "web_clients/mobile.clients/MPD-Web-Remote"]
	path = web_clients/mobile.clients/MPD-Web-Remote
	url = git://github.com/tompreston/MPD-Web-Remote.git
[submodule "web_clients/hempd"]
	path = web_clients/hempd
	url = git@github.com:tswaehn/hempd.git
